body{
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px;
    
}
p,h2,h3,td,th,ul{
    color: rgb(167, 69, 100);
}
                                            /* Home*/
#home{
    height: 590px;
    width: 100%;
    background: linear-gradient(#0F2027,#203A43,#2C5364);
    display: flex;
}
#home-content h1{
    text-align: center;
   color:rgb(66, 147, 185);
}
#home-content h2{
    color:rgb(66, 147, 185) ;
}
#home-content{
    width: 50%;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    color:rgb(66, 147, 185);
}
#home-content h2{
    text-align: center;
}

                                            /* nav */
#nav-div{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #0F2027;
    z-index:2;
}       

#nav-div img{
    width: 7%;
    height: 60px;
}
#nav-div h3{
    position: absolute;
    display: inline-block;
    margin-left: 10px;
}
#nav{
    float: right;
    margin-right: 15px;
}

#nav li{
    display: inline-block;
}

#nav li a{
    border: 2px solid grey;
    text-decoration: none;
    color: rgb(66, 147, 185);
    padding: 4px;
    margin: 2px;
    font-size: 25px;
}

#nav li a:hover{
    text-decoration: underline;
    color: #f3f5f5;
    background-color: rgb(167, 69, 100);
}

                                           /* About*/
#about{
    width: 100%;
    height: 460px;
}
#about img{
    width: 30%;
    height: 300px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 20px;
}
#about-content{
    width: 60%;
    height: 400px;
    margin-right: 80px;
    margin-top: 20px;
    float: right;
}
#about-content h2{
    text-align: center;
}
#about-content ul{
    margin-left: 200px;
}
#about-content table{
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    text-align: center;
}
  
th {
    background-color: #ccc;
    font-weight: bold;
}
#instagram{
    text-decoration: none;
}
.insta-logo{
    border: 2px solid red;
    width: 10%;
    height: 50px;
}
                                     /* Projects */
#projects{
    display: flex;
    width: 100%;
    height: 450px;
}
#projects img{
    width: 100%;
    height: 450px;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 0.9;

}

#project-content {
    position: absolute;
    height: 350px;
    text-align: center;
    z-index: 1;
}

#project-head{
    /* border: 2px solid ; */
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(28 167 224);
    border: 2px solid  rgb(66, 147, 185);;
    border-radius: 30px;
}
.project-1{
    display: inline-block;
    margin: 41px;
    margin-top: 81px;
    text-align: center;
    background-color: rgb(28 167 224);
    width: 40%;
    height: 148px;
    border-radius: 30px;
}

                                      /* contact */
#contact{
    display: flex;
    width: 100%;
    height: 500px;     
}
#contact img{
    width: 100%;
    height: 500px;
    opacity: 0.7;
}
#contact-content{
    position: absolute;
    width: 550px;
    height: 370px;
    margin-left: 50px;
    margin-top: 63px;
    color: #2C5364;
    /* border: 2px solid red; */
    padding-top: 53px;
}
#contact-content img{
    width: 40px;
    height: 36px;
    margin-right: 4px;
}
#contact-content a{
    margin-top: 7px;
    margin-left: 3px;
    text-decoration: none;
    color:rgb(167, 69, 100);
}
#contact-content a:hover{
    color: purple;
}
#contact-content h2{
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }